@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
    line-height: 17px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px;
}
.menu__list {
    display: flex;
    gap: 10px;
}

.menu__list-link {
    text-transform: uppercase;
    padding: 42px 20px;
    transition: all 0.5s;
}
.menu__list-link:hover {
    background-color: #131313;
    color: white;
}
.bike__inner {
    display: flex;
    gap: 30px;
}
.bike__column:nth-child(1) {
    margin-top: 170px;
}
.bike__column:nth-child(2) {
    flex-basis: 630px;
    margin-top: 97px;
    max-width: 630px;
}

.bike__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 5px;
}
.bike__sub-title {
    color: #6f6f6f;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    margin-bottom: 60px;
}

.bike__text {
    max-width: 420px;
}
.bike__text + .bike__text {
    margin-top: 20px;
}

.bike__btn {
    margin-top: 80px;
    display: inline-block;
    color: white;
    padding: 28px 71px;
    background-color: #131313;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    transition: all 0.3s;
}

.bike__btn:hover,
.form__btn:hover {
    background: #ff4040;
    color: white;
}

.bike-slider {
    position: relative;
}

.bike-slider .slick-dots {
    right: 0;
    top: 53px;
}

.slick-dots {
    position: absolute;
}

.slick-dots li + li {
    margin-top: 10px;
}

.slick-dots button {
    font-size: 0;
    border: none;
    width: 2px;
    height: 25px;
    padding: 0;
    background: #131313;
    border-radius: 7px;
    cursor: pointer;
}

.slick-dots button:hover {
    background: #ff4040;
}

.slick-dots .slick-active button {
    background: #ff4040;
}

.bike__list {
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}

.bike__list-item {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 58px;
}

.bike__list-num {
    font-weight: 700;
    text-transform: uppercase;
}

.bike__list-text {
    line-height: 15px;
    font-size: 12px;
    margin: auto 0;
}

.info {
    margin: 150px 0px;
}

.info__inner {
    display: flex;
}
.info__img {
    flex-basis: 570px;
}
.info__list {
    margin-left: 60px;
    flex-basis: 490px;
}
.info__item-title {
    margin-bottom: 10px;
}
.info__item-text {
    margin-bottom: 50px;
    max-width: 450px;
}

.info__item-text:last-child {
    margin-bottom: 0;
}

.characteristic {
    margin-bottom: 150px;
}

.characteristic__title {
    margin-bottom: 40px;
}
.characteristic__inner {
    display: flex;
}
.characteristic__items {
    flex-basis: 570px;
}
.characteristic__list + .characteristic__list {
    margin-top: 30px;
}

.characteristic__list-title {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background: #131313;
    padding: 2px 0 3px 0;
}
.characteristic__line {
    display: grid;
    grid-template-columns: repeat(2, 285px);
    margin-top: 10px;
}

.characteristic__img {
    align-self: center;
    margin-left: 60px;
}

.slider {
    margin-bottom: 50px;
}

.slider__items .slick-dots {
    top: 0;
}
.slider__item {
    padding-left: 50px;
}

.price {
    margin-bottom: 100px;
}
.price__inner {
    position: relative;
}
.form {
    width: 420px;
}
.form__title {
    margin-bottom: 41px;
}
.form__text {
    width: 298px;
    margin-bottom: 29px;
}
.form__input-name,
.form__input-tel {
    width: 100%;
    border: none;
    border-bottom: solid 1px #131313;
    outline: none;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.form__input-name::placeholder,
.form__input-tel::placeholder {
    color: #6f6f6f;
    opacity: 0.5;
}
.form__color {
    color: #6f6f6f;
    opacity: 0.5;
    margin-bottom: 10px;
}
.form__label-box {
    display: flex;
    margin-bottom: 50px;
}
.form__label + .form__label {
    margin-left: 23px;
}
.form__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike {
    display: block;
}
.form__bike {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.form__bike-price {
    font-size: 32px;
    line-height: 39px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ff4040;
    padding: 30px 20px;
    width: 220px;
    border-radius: 50%;
    transform: translate(-35%, 25%);
}

.form__bike-price::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 100px;
    border: solid 1px #ff4040;
    padding: 30px 20px;
    border-radius: 50%;
    top: 12px;
}
.form__radio-style {
    width: 80px;
    height: 12px;
    border-radius: 30px;
}

.form__radio-style--grey {
    background: #6f6f6f;
}
.form__radio-style--white {
    background: #ffffff;
    border: 1px solid #6f6f6f;
}
.form__radio-style--red {
    background: #ff4040;
}
.form__btn {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: white;
    background: #131313;
    transition: all 0.3s;
    padding: 28px 71px;
    cursor: pointer;
    border: none;
}

.footer {
    background-color: #131313;
    color: white;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.footer__link {
    text-transform: lowercase;
    text-decoration-line: underline;
}
.footer__social-list {
    display: flex;
    gap: 28px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer__contacts-link {
    position: relative;
}

.footer__contacts-link::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -25%;
    left: -20%;
}

.phone::before {
    background-image: url("../images/phone.svg");
}

.mail::before {
    background-image: url("../images/mail.svg");
}

/* Portrait tablets and medium desktops */
@media all and (max-width: 1229px) {
    .bike__inner {
        flex-wrap: wrap;
    }

    .bike__text {
        max-width: 100%;
        text-align: justify;
    }

    .bike__btn {
        margin-top: 30px;
    }

    .bike__column:nth-child(1) {
        margin-top: 30px;
    }

    .bike__column:nth-child(2) {
        max-width: 100%;
        margin-top: 20px;
    }

    .bike__sub-title {
        margin-bottom: 30px;
    }

    .info__img {
        display: none;
    }

    .info {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .info__list {
        margin-left: 0;
        flex-basis: 100%;
    }

    .info__item-text {
        max-width: 100%;
        text-align: justify;
        margin-bottom: 25px;
    }

    .characteristic {
        margin-bottom: 50px;
    }

    .characteristic__inner {
        flex-wrap: wrap;
    }

    .characteristic__img {
        order: -1;
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .characteristic__items {
        flex-basis: 100%;
    }

    .characteristic__line {
        grid-template-columns: repeat(2, 50%);
    }

    .slider__item {
        object-fit: cover;
    }
}

/* Others */
@media all and (max-width: 1140px) {
    .form__bike {
        top: 45px;
    }
    .form__bike-img {
        width: 500px;
    }
}

/* Portrait tablets and small desktops */
@media all and (max-width: 991px) {
    .menu {
        margin-right: 0px;
    }

    .price__inner{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .form__text{
        width: 100%;
    }

    .form__bike-img {
        width: 400px;
    }

    .form__label-box{
        justify-content: center;
    }

    .form__label-box {
        margin-bottom: 270px;
    }

    .form__bike {
        top: auto;
        right: 0;
        left: 0;
        bottom: 85px;
    }

    .form__bike-price {
        transform: translate(100%, 5%);
        font-size: 16px;
        line-height: 20px;
        border: none;
        border-radius: 0;
        /* transform: translate(-30%, 25%); */
    }

    .form__bike-price::after{
        display: none;
    }

    .form__bike-price span {
        background-color: #131313;
        color: white;
    }
}

/* Landscape phones and portrait tablets */
@media all and (max-width: 767px) {
}

/* Others */
@media all and (max-width: 640px) {
    .header__inner {
        display: block;
        text-align: center;
    }

    .menu {
        margin-top: 50px;
    }

    .menu__list {
        justify-content: space-evenly;
        gap: 0;
    }

    .menu__list-link {
        padding: 20px 25px;
    }

    .bike__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 57px;
        margin-bottom: 5px;
    }

    .bike__sub-title {
        font-size: 22px;
        line-height: 29px;
    }

    .bike__list {
        flex-wrap: wrap;
    }
    .bike__list-item {
        flex-basis: 50%;
    }

    .footer__inner{
        flex-direction: column;
        text-align: center;
        gap: 15px;
        height: auto;
    }

    .footer__link{
        margin-top: 10px;
    }

    .phone::before{
        left: -5%;
    }
}
/* Others */
@media all and (max-width: 540px) {
    .form__bike-price {
        font-size: 16px;
        line-height: 20px;
        border: none;
        border-radius: 0;
        transform: translate(-30%, 25%);
    }

    .form__bike-price::after{
        display: none;
    }

    .form__bike-price span {
        background-color: #131313;
        color: white;
    }

}

/* Landscape phones and smaller */
@media all and (max-width: 460px) {
    .menu__list {
        justify-content: space-between;
    }
    .menu {
        margin-top: 30px;
    }
    .menu__list-link {
        padding: 20px 5px;
    }

    .bike__inner {
        gap: 0;
    }

    .bike__text {
        text-align: justify;
    }

    .bike__btn-wrapper {
        display: flex;
        justify-content: center;
    }

    .bike__btn {
        padding: 21px 35px;
        letter-spacing: 0.8em;
    }

    .form {
        width: 100%;
    }

    .form__btn {
        padding: 21px 35px;
        letter-spacing: 0.8em;
    }

    .form__bike-img {
        width: 350px;
    }


}

/* Others */
@media all and (max-width: 360px) {
    .menu__list-link {
        font-size: 12px;
    }

    .form__bike-img{
        width: 300px;
    }
}
